<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- <add key="ConnectionString" value="Data Source=MIR\PETERA;Initial Catalog=LRIT;Persist Security Info=True;User ID=sa;Password=248;Pooling=False"/> -->
    <add key="ConnectionString" value="Data Source=DIEGOL\SQLEXPRESS;Initial Catalog=LRIT;User Id=sa;Password=248248;"/>
  </appSettings>
</configuration>