<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="ConnectionString" value="Data Source=DIEGOL\SQLEXPRESS;Initial Catalog=LRIT;User Id=sa;Password=248248;"/>
    <add key="CoreInQueue" value=".\private$\core_in"/>
    <add key="CoreOutQueue" value=".\private$\core_out"/>
    <!--<add key="CoreInQueue" value="Formatname:DIRECT=TCP:192.168.1.2\PRIVATE$\core_in"/>
    <add key="CoreOutQueue" value="Formatname:DIRECT=TCP:192.168.1.2\PRIVATE$\core_out"/>-->
    <add key="DCUrl" value="http://localhost/LRITDataCenter.asmx"/>
    <add key="IDEUrl" value="http://localhost/IDESimulator.asmx"/>
    <add key="DDPURL" value="http://localhost/DDPSimulator.asmx"/>
  </appSettings>

  <log4net debug="false">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="Application" />
      <param name="ApplicationName" value="DataCenterTX" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
</configuration>