<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<appSettings>
		<add key="ConnectionString" value="Data Source=LEONIDAS\ELSQL2008;Initial Catalog=LRIT;Persist Security Info=True;User ID=sa;Password=248;Pooling=False"/>
		<add key="CoreInQueue" value=".\private$\core_in"/>
		<add key="CoreOutQueue" value=".\private$\core_out"/>
		<!--<add key="CoreInQueue" value="Formatname:DIRECT=TCP:192.168.1.2\PRIVATE$\core_in"/>
    <add key="CoreOutQueue" value="Formatname:DIRECT=TCP:192.168.1.2\PRIVATE$\core_out"/>-->
		<add key="DCUrl" value="http://localhost/LRITDC/LRITDataCenter.asmx"/>
		<add key="IDEUrl" value="http://localhost/LRITIDE/IDESimulator.asmx"/>
		<add key="DDPURL" value="http://localhost/LRITDDP/DDPSimulator.asmx"/>
	</appSettings>
	<log4net debug="false">
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<param name="LogName" value="Application"/>
			<param name="ApplicationName" value="DataCenterRX"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<root>
			<priority value="DEBUG"/>
			<appender-ref ref="EventLogAppender"/>
		</root>
	</log4net>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<webServices>
			<soapExtensionTypes>
				<add type="LRITDataCenter.MessageValidator, LRITDataCenter" priority="1" group="High"/>
			</soapExtensionTypes>
		</webServices>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
</configuration>
