<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataCenterDataAccess.Properties.Settings.LRITConnectionString"
            connectionString="Data Source=LEONIDAS\ELSQL2008;Initial Catalog=LRIT;User Id=sa;Password=248;"
            providerName="System.Data.SqlClient" />
        <add name="DataCenterDataAccess.Properties.Settings.LRITConnectionString1"
            connectionString="Data Source=LEONIDAS\ELSQL2008;Initial Catalog=LRIT;User Id=sa;Password=248;"
            providerName="System.Data.SqlClient" />
        <add name="DataCenterDataAccess.Properties.Settings.LRITConnectionString2"
            connectionString="Data Source=LEONIDAS\ELSQL2008;Initial Catalog=LRIT;User ID=sa;Password=248"
            providerName="System.Data.SqlClient" />
        <add name="DataCenterDataAccess.Properties.Settings.LRITConnectionString3"
            connectionString="Data Source=LEONIDAS\ELSQL2008;Initial Catalog=LRIT;Persist Security Info=True;User ID=sa;Password=248"
            providerName="System.Data.SqlClient" />
        <add name="DataCenterDataAccess.Properties.Settings.LRITConnectionString4"
            connectionString="Data Source=LEONIDAS\ELSQL2008;Initial Catalog=LRIT;Persist Security Info=True;User ID=sa;Password=248"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>