<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=LEONIDAS\ELSQL2008;Initial Catalog=LRIT;Persist Security Info=True;User ID=sa;Password=248;Pooling=False"/>
    <add key="CoreInQueue" value=".\private$\core_in"/>
    <add key="CoreOutQueue" value=".\private$\core_out"/>
    <!--<add key="CoreInQueue" value="Formatname:DIRECT=TCP:192.168.1.2\PRIVATE$\core_in"/>
    <add key="CoreOutQueue" value="Formatname:DIRECT=TCP:192.168.1.2\PRIVATE$\core_out"/>-->
    <add key="DCUrl" value="http://localhost/LRITDataCenter.asmx"/>
    <add key="IDEUrl" value="http://localhost/IDESimulator.asmx"/>
    <add key="DDPURL" value="http://localhost/DDPSimulator.asmx"/>
    <add key="DCDebug" value="true"/>
  </appSettings>
</configuration>